.suma, .what, .what-left {
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 20px;
  }

  .amount {
    font-size: 20px;
  }
}

.what {
  .amount {
    color: green;
  }
}

.what-left {
  .amount {
    color: red;
  }
}

.finances-overall {
  padding: 20px;
  box-shadow: 0 0 10px 2px #d5d5d5;
  border-radius: 10px;
}

.finances-details {
  padding: 20px;
  border-radius: 10px;

  * {
    font-size: 16px;
  }

  h3 {
    font-size: 32px;
  }
}

.paid {
  box-shadow: 0 0 10px 2px #0080006b;

  h3 {
    color: green;
  }

  .wyniki {
    .status {
      color: green;
    }
  }
}

.notpaid {
  box-shadow: 0 0 10px 2px #ff00006b;

  h3 {
    color: red;
  }

  .wyniki {
    .status {
      color: red;
    }
  }
}

.grube {
  * {
    font-weight: 500;
  }
}
