<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h2>Formularz kontaktowy</h2>
      </div>
      <div class="col-12">
        <form (ngSubmit)="sendContactForm()" [formGroup]="contact">
          <div class="row">
            <div class="col-xl-6 col-md-6 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Imie: </label>
                <input [ngClass]="{ 'is-invalid ng-invalid' : submitted && f.name.errors }" class="form-control" formControlName="name" id="exampleFormControlInput1"
                       type="text">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors">Imię jest polem wymaganym i może zawierać jedynie litery alfabetu.</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput2">Nazwisko: </label>
                <input [ngClass]="{ 'is-invalid ng-invalid' : submitted && f.lastName.errors }" class="form-control" formControlName="lastName" id="exampleFormControlInput2"
                       type="text">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors">Nazwisko jest polem wymaganym i może zawierać jedynie litery
                    alfabetu.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-12">
              <div class="form-group">
                <label for="phone">Numer telefonu:</label>
                <input [ngClass]="{ 'is-invalid ng-invalid' : submitted && f.phone.errors }" class="form-control" formControlName="phone" name="phone"
                       type="tel">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors">Numer telefonu składający się z 9 cyfr.</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-12">
              <div class="form-group">
                <label for="exampleFormControlEmail1">Email </label>
                <input [ngClass]="{ 'is-invalid ng-invalid' : submitted && f.email.errors }" class="form-control" formControlName="email" id="exampleFormControlEmail1"
                       type="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors">Podany adres e-mail nie jest poprawnym adresem e-mail.</div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Treść </label>
                <textarea [ngClass]="{ 'is-invalid ng-invalid' : submitted && f.content.errors }" class="form-control" formControlName="content" id="exampleFormControlTextarea1"
                          rows="4">
                                </textarea>
                <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                  <div *ngIf="f.content.errors">Pole wymagane.</div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn-theme full" type="submit">Wyślij</button>
          <div *ngIf="error" class="porazka">Popraw błędnie wypełnione dane!</div>
          <div *ngIf="succes" class="sukces">Wiadomość została wysłana!</div>
        </form>
      </div>
    </div>
  </div>
</section>
