<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h2>Logowanie</h2>
      </div>
      <div class="col-12">
        <form (ngSubmit)="login()" [formGroup]="loginRequest" class="form" method="post">
          <div class="row">
            <div class="col-12 mb-3">
              <label class="form-label">Login</label>
              <input class="form-control" formControlName="username" id="username" name="username"
                     pattern="[a-zA-Z ]{4,30}" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <label class="form-label">Hasło</label>
              <input class="form-control" formControlName="password" id="password" name="password"
                     pattern="[a-zA-Z ]{4,30}" type="password">
            </div>
          </div>
          <button class="btn-theme full" type="submit">Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</section>
