<section class="about-us">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<div class="text-box">
					<h2>O nas</h2>
					<p>Nasz zakład opieki zdrowotnej jest obiektem, który na pierwszym miejscu ceni sobie jakość wykonywanych usług. Od kilkunastu lat nasi klienci przede wszystkim cenią sobie staranność wykonywanych zabiegów, jak i profesjonalne i indywidualne podejście do klienta.</p>
					<p>Wyspecjalizowana kadra z wieloletnim stażem i wysokimi kwalifikacjami. pewnością zadba o to, by każdy pacjent wyszedł z niej zadowolony, a przede wszystkim zdrowszy.
					Nasi klienci od lat uważają, że zapewniamy to, co jest dla nich najważniejsze – idealny balans pomiędzy oferowanymi usługami, a przystępną ceną, by w każdej sytuacji mogli zadbać o swoje zdrowie w naszej placówce.</p>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="image-box">
					<img src="/assets/img/about_us.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>