<section class="form">

  <div class="container">

    <div class="row">
      <div class="col-12 mb-3">
        <h2>Formularz rejestracji</h2>
      </div>
      <div class="col-12">
        <form (ngSubmit)="sendApi()" [formGroup]="profileForm" class="form" method="post">
          <div class="row">
            <div class="col-xl-4 mb-3">
              <label class="form-label">Imię</label>
              <input [ngClass]="{ 'is-invalid ng-invalid' : submitted && f.firstName.errors }" class="form-control" formControlName="firstName" id="firstName" name="firstName"
                     type="text">
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors">Imię jest polem wymaganym i może zaweirać jedynie litery alfabetu.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Nazwisko</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" class="form-control" formControlName="lastName" id="lastName"
                     name="lastName" type="text">
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors">Nazwisko jest polem wymaganym i może zaweirać jedynie litery alfabetu.
                </div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">E-mail</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" aria-describedby="emailHelp" class="form-control" formControlName="email"
                     id="email" name="email" type="email">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Adres e-mail jest polem wymaganym.</div>
                <div *ngIf="f.email.errors.email">Podany adres e-mail nie jest poprawny.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Hasło</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" formControlName="password" id="password"
                     name="password" type="password">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Hasło jest polem wymaganym.</div>
                <div *ngIf="f.password.errors.minlength">Hasło jest zbyt krótkie.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Miasto</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.city.errors }" class="form-control" formControlName="city" id="city"
                     name="city" type="text">
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors">Miasto jest polem wymaganym i może zawierać jedynie litery alfabetu.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Ulica</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.street.errors }" class="form-control" formControlName="street" id="street"
                     name="street" type="text">
              <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required">Ulica jest polem wymaganym.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Numer domu</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.homeNumber.errors }" class="form-control" formControlName="homeNumber" id="homeNumber"
                     name="homeNumber" type="text">
              <div *ngIf="submitted && f.homeNumber.errors" class="invalid-feedback">
                <div *ngIf="f.homeNumber.errors.required">Numer domu jest polem wymaganym i może mieć maksymalnie 4
                  znaki.
                </div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Kod pocztowy</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" class="form-control" formControlName="postalCode" id="postalCode"
                     name="postalCode" type="text">
              <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                <div *ngIf="f.postalCode.errors">Kod pocztowy jest polem wymaganym i musi być w formacie xx-xxx.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Pesel</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.PESEL.errors }" class="form-control" formControlName="PESEL" id="PESEL"
                     name="PESEL" type="number">
              <div *ngIf="submitted && f.PESEL.errors" class="invalid-feedback">
                <div *ngIf="f.PESEL.errors">PESEL jest polem wymaganym i musi składać się jedynie z 11 cyfr.</div>
              </div>
            </div>
          </div>
          <button class="btn-theme full" type="submit">Wyślij</button>
          <div *ngIf="error; else successMessage">
            Failure
          </div>
          <ng-template #successMessage>
            Success
          </ng-template>
        </form>
      </div>
    </div>

  </div>

</section>
