<section class="form">

  <div class="container">

    <div class="row">
      <div class="col-12 mb-3">
        <h2>Formularz rejestracji</h2>
      </div>
      <div class="col-12">
        <form (ngSubmit)="sendSignUpRequest()" [formGroup]="profileForm" class="form" method="post">
          <div class="row">
            <div class="col-xl-4 mb-3">
              <label class="form-label">Imię</label>
              <input [ngClass]="{ 'is-invalid ng-invalid' : getControls.firstName.touched && getControls.firstName.errors }" class="form-control" formControlName="firstName" id="firstName" name="firstName"
                     type="text">
              <div *ngIf="getControls.firstName.touched && getControls.firstName.errors" class="invalid-feedback">
                Imię jest polem wymaganym i może zaweirać jedynie litery alfabetu.
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Nazwisko</label>
              <input [ngClass]="{ 'is-invalid': getControls.lastName.touched && getControls.lastName.errors }" class="form-control" formControlName="lastName" id="lastName"
                     name="lastName" type="text">
              <div *ngIf="getControls.lastName.touched && getControls.lastName.errors" class="invalid-feedback">
                Nazwisko jest polem wymaganym i może zaweirać jedynie litery alfabetu.
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">E-mail</label>
              <input [ngClass]="{ 'is-invalid': getControls.email.touched && getControls.email.errors }" aria-describedby="emailHelp" class="form-control" formControlName="email"
                     id="email" name="email" type="email">
              <div *ngIf="getControls.email.touched && getControls.email.errors" class="invalid-feedback">
                <div *ngIf="getControls.email.errors.required">Adres e-mail jest polem wymaganym.</div>
                <div *ngIf="getControls.email.errors.email">Podany adres e-mail nie jest poprawny.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Hasło</label>
              <input [ngClass]="{ 'is-invalid': getControls.password.touched && getControls.password.errors }" class="form-control" formControlName="password" id="password"
                     name="password" type="password">
              <div *ngIf="getControls.password.touched && getControls.password.errors" class="invalid-feedback">
                <div *ngIf="getControls.password.errors.required">Hasło jest polem wymaganym.</div>
                <div *ngIf="getControls.password.errors.minlength">Hasło jest zbyt krótkie.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Miasto</label>
              <input [ngClass]="{ 'is-invalid': getControls.city.touched && getControls.city.errors }" class="form-control" formControlName="city" id="city"
                     name="city" type="text">
              <div *ngIf="getControls.city.touched && getControls.city.errors" class="invalid-feedback">
                <div *ngIf="getControls.city.errors">Miasto jest polem wymaganym i może zawierać jedynie litery alfabetu.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Ulica</label>
              <input [ngClass]="{ 'is-invalid': getControls.street.touched && getControls.street.errors }" class="form-control" formControlName="street" id="street"
                     name="street" type="text">
              <div *ngIf="getControls.street.touched && getControls.street.errors" class="invalid-feedback">
                <div *ngIf="getControls.street.errors.required">Ulica jest polem wymaganym.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Numer domu</label>
              <input [ngClass]="{ 'is-invalid': getControls.homeNumber.touched && getControls.homeNumber.errors }" class="form-control" formControlName="homeNumber" id="homeNumber"
                     name="homeNumber" type="text">
              <div *ngIf="getControls.homeNumber.touched && getControls.homeNumber.errors" class="invalid-feedback">
                <div *ngIf="getControls.homeNumber.errors.required">Numer domu jest polem wymaganym i może mieć maksymalnie 4
                  znaki.
                </div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Kod pocztowy</label>
              <input [ngClass]="{ 'is-invalid': getControls.postalCode.touched && getControls.postalCode.errors }" class="form-control" formControlName="postalCode" id="postalCode"
                     name="postalCode" type="text">
              <div *ngIf="getControls.postalCode.touched && getControls.postalCode.errors" class="invalid-feedback">
                <div *ngIf="getControls.postalCode.errors">Kod pocztowy jest polem wymaganym i musi być w formacie xx-xxx.</div>
              </div>
            </div>
            <div class="col-xl-4 mb-3">
              <label class="form-label">Pesel</label>
              <input [ngClass]="{ 'is-invalid': getControls.PESEL.touched && getControls.PESEL.errors }" class="form-control" formControlName="PESEL" id="PESEL"
                     name="PESEL" type="number">
              <div *ngIf="getControls.PESEL.touched && getControls.PESEL.errors" class="invalid-feedback">
                PESEL jest polem wymaganym i musi składać się jedynie z 11 cyfr.
              </div>
            </div>
          </div>
          <button class="btn-theme full" class="porazka" type="submit">Wyślij</button>
          <div *ngIf="error == State.VALID" class="sukces">
            Success! Na maila zostal wyslany link aktywacyjny
          </div>
          <div *ngIf="error == State.ERROR" class="porazka">
            {{errorMessage}}
          </div>
        </form>
      </div>
    </div>

  </div>

</section>
