<section class="form">

  <div class="container">

    <div class="userbox">
      <div class="row">
        <div class="col-12 mb-3">
          <h2>Dane kontaktowe:</h2>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Imię:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Drugię Imię:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Nazwisko:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">E-mail:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Hasło:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Miasto:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Numer domu:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Numer mieszkania:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Kod pocztowy:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
        <div class="col-12">
          <div class="namebox">
            <div class="name">Pesel:</div>
            <div class="value">Wartość</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
