h4 {
	font-size: 30px;
	margin: 0;
}
.tabela {
	padding: 20px;
	box-shadow: 0 0 10px 2px #d5d5d5;
	border-radius: 10px;
}
.price_label {
	text-align: right;
	margin-bottom: 20px;
}
.title_lable {
	margin-bottom: 20px;
}
.title, .price {
	font-size: 18px;
	margin: 3px;
}
.heading, .badanie-cena {
	display: flex;
	justify-content: space-between;
}
.badanie-cena {
	transition: .3s;
	border-radius: 10px;
	cursor: default;
	&:hover {
		box-shadow: 0 0 10px 2px #d5d5d5;
		* {
			color: #28b9c0;
		}
	}
}